@media (max-width: 768px) {
  @font-face {
    font-family: head;
    src: url(/font/SFPRODISPLAYMEDIUM.ttf);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    font-family: head;
  }

  #main {
    position: relative;
    overflow: hidden;
    /* background: #000; */
  }

  #page {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #000;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    background: blur(20px transparent);
    width: 100%;
    overflow: hidden;
    z-index: 99;
    position: relative;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 6rem;
    top: 1rem;
  }

  .navbar ul {
    display: none;
  }

  .nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    right: 1rem;
    filter: invert();
    top: 0.5rem;
  }
  #menu {
    display: flex;
  }

  #page > nav {
    height: 7vh;
    width: 100vw;
    /* background: blur(20px transparent); */
    color: #fff;
    padding: 0 20px;
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 999;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .item p {
    display: none;
  }

  #page nav .item button:nth-child(5) {
    background: #0e6ecf;
    outline: 0;
    border: 0;
  }
  #page nav .item button:nth-child(4) {
    display: none;
  }

  #page > nav > h3 {
    font-weight: 100;
    font-size: 1.3rem;
  }

  #page > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-bottom {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #page-bottom h3 {
    color: #ff5a00;
    margin-top: 14vw;
  }

  #page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #page1 > video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  #page1 > h1 {
    font-size: 5vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }

  #page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #page2 > video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  #page2 > h1 {
    font-size: 4vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    text-align: center;
  }

  #page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
  }
  #page3 > img {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #page3-upper {
    height: 25%;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  #page3-upper > img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  #page3-upper-inner {
    width: 100vw;
    height: 10vh;
    /* background: red; */
    transform: translate(-30%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #page3-upper-inner > h3 {
    font-weight: 500;
    padding-top: 1rem;
  }
  #page3 > button {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 1px solid #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;
    font-size: 3.4vw;
    font-weight: 600;
  }
  #center-page4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 5vw;
    margin-top: 3rem;
  }
  #center-page4 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vh;
    line-height: 4rem;
    margin-top: 2rem;
  }

  #page5 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .left5 {
    position: relative;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
  }
  .left5 > h1 {
    display: none;
  }
  .left5 > h2 {
    font-size: 6vw;
    display: flex;
  }
  .right5 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 8vw;
  }
  .right5 > h3 {
    font-size: 5vw;
    width: 90%;
    color: #484848d7;
  }
  .right5 > button {
    padding: 10px 20px;
    border: none;
    background-color: #ff823d;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    font-size: 3.3vw;
    margin-top: 8.5vw;
    margin-left: 4rem;
  }

  #page6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
  }

  #page6 > h3 {
    margin-top: 1vw;
    font-size: 4vw;
  }
  #page6 > h1 {
    margin-top: 1vw;
    font-size: 8vw;
  }
  #page6 > p {
    font-size: 6vw;
    width: 90%;
    font-weight: 700;
    color: #545454c9;
    margin-top: 2rem;
  }

  #page8 > h1 {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 4.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
  }

  #page9 > h1 {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 4.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
  }

  #page10 > h1 {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 4.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
  }

  #page11 > h1 {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 4.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
  }

  #page12 > h1 {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 4.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
  }

  #page13 > h1 {
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 4.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
  }

  .left14 {
    height: 40%;
    width: 45%;
    position: relative;
    background-image: url(/images/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
  }
  .right14 {
    height: 40%;
    width: 45%;
    position: relative;
    background-image: url(/images/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
  }

  #center-page15 {
    height: 40%;
    width: 95%;
    position: relative;
    overflow: hidden;
  }

  #page16 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #page16 > h2 {
    position: absolute;
    width: 80%;
    color: #434343c7;
    font-weight: 500;
    top: 5%;
  }
  #page16 > img {
    width: 60%;
    position: absolute;
    bottom: 30%;
  }
  #page16 > button {
    position: absolute;
    bottom: 20%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #ff823d;
    color: #fff;
    font-weight: 500;
    border: none;
  }

  #page17 {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    gap: 20px;
  }
  #page17 > h4 {
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 2vw;
  }
  #page17 > h1 {
    font-size: 8vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
  }
  #page17 > p {
    font-size: 5.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 80%;
    text-align: center;
  }
  #page17 > p > span {
    color: #fff;
    width: 80%;
  }

  #page18 {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
  }
  #page18 > canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  #page19 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
  }

  #page19 > h1 {
    font-size: 5.5vw;
    text-align: left;
  }
  #page19 > h5 {
    width: 85%;
    font-size: 3.5vw;
    text-align: left;
    margin-top: 2rem;
    font-weight: 400;
  }

  #center-page20 {
    position: absolute;
    height: 20%;
    width: 80%;
    bottom: 38%;
    right: 5%;
    color: #fff;
  }
  #center-page20 > h1 {
    margin-bottom: 0.7vw;
  }
  #center-page20 > p {
    margin-top: 2rem;
    font-size: 4vw;
  }

  #page21 > #troff {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    z-index: 9;
  }
  #page21 > #tron {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
  }

  #page22 > #snroff {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    z-index: 9;
  }
  #page22 > #snron {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
  }
  #page23 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
  }
  #page23 > img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
  }

  #page24 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #center-page24 {
    /* position: absolute; */
    height: 40vh;
    width: 90vw;
    bottom: 18%;
    right: 5%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #center-page24 > span {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #center-page24 > p {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 32px;
    color: #4c4c4e;
  }
  #center-page24 > p > span {
    color: #cccccc;
  }
  #page24 > #center-page24 > button {
    position: absolute;
    bottom: 6%;
    padding: 15px 60px;
    font-size: 3.7vw;
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    border: none;
  }

  #page25 img {
    width: 25%;
    position: absolute;
    top: 5%;
  }

  #page25 h2 {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 33%;
  }
  #page25 h1 {
    font-size: 2rem;
    line-height: 32px;
    position: absolute;
    top: 38%;
    width: 80%;
    text-align: center;
    color: #1d1d1f;
  }
  #page25 p {
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    top: 48%;
    width: 80%;
    text-align: center;
    color: #86868b;
  }

  #page25 > p > span {
    color: #1d1d1f;
  }

  .inform {
    width: 100%;
    height: 78vh;
    /* background: lightblue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1rem;
    line-height: 18px;
    text-align: left;
    padding-top: 1.8rem;
    gap: 10px;
    position: relative;
  }

  .inform p {
    text-align: left;
    width: 90%;
    font-weight: 100;
    color: #ababad;
  }

  .list {
    width: 100%;
    height: 80vh;
    /* background: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }

  .line {
    position: absolute;
    background: #ababad;
    width: 80%;
    height: 0.1%;
    bottom: 0rem;
  }

  .head {
    /* background: cyan; */
    width: 50%;
    height: 8%;
    margin-left: -10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
  }

  .head img {
    width: 15%;
  }
  .head h5 {
    font-size: 1.3rem;
  }

  .menu-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    flex-direction: column;
    padding: 3rem;
    height: 60vh;
    width: 100vw;
    margin-top: 3rem;
    position: absolute;
    left: 0;
  }
  .menu-list ul {
    list-style: none;
    /* background: lightgray; */
    text-align: left;
    font-size: 1.2rem;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -2rem;
  }

  .menu-list li {
    display: none;
  }

  .bottom {
    position: absolute;
    bottom: 2.5rem;
    color: #7c7c7d;
    left: 4%;
    font-size: 17px;
    line-height: 26px;
  }

  .links p {
    position: absolute;
    left: 2%;
    display: flex;
    gap: 20px;
    color: #b2b2b3;
    font-size: 10px;
    line-height: 16px;
  }
  .line1 {
    position: absolute;
    background: #ababad;
    width: 80%;
    height: 0.1%;
    bottom: 1.1rem;
    left: 7%;
  }
}
